{% extends "base.html" %} {% block nav %}
<h1 class="font-bold text-xl text-white">Device List</h1>{% endblock %} {% block content %}
<template id="temp">
    <div class="w-[130px] parent cursor-pointer p-4 bg-white rounded-xl shadow-md">
        <p class="my-2 name text-sm  text-cyan-600">Name</p>
    <div class="w-full h-[120px] relative rounded-b-xl border-4 shadow-md border-t-0 border-stone-200 bg-teal-400 flex place-content-center items-center">
        <div>
            <svg class="absolute bottom-0 left-0 w-full h-10" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
              <defs>
                <path
                  id="gentle-wave"
                  d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
                />
              </defs>
              <g>
                <!-- <use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(6, 182, 212)" /> -->
              </g>
            </svg>
        </div>
        <div  class="bg-white rounded-b-xl absolute top-0 left-0 w-full h-0 level"></div>
        <div class="bg-white absolute top-0 left-0 w-full h-10"></div>
        <h1 class="percentage w-12 h-12 text-center align-middle z-50 text-xl text-white p-2 rounded-full border-cyan-600 border-4">5</h1>
    </div>
</template>
<div class="my-8 p-8 rounded-xl">
    <div class="flex flex-row justify-between">
        <h1></h1>
        <div class="p-2 h-fit rounded-full text-stone-600 hover:text-white bg-cyan-200 cursor-pointer hover:bg-cyan-500" onclick="window.open('/add', '_self'); document.getElementById('spin').style.display='flex';"><span class="text-2xl">+</span></div>
    </div>
    <div role="status" class="mt-8 w-fit mx-auto" id="spin2">
        <svg aria-hidden="true" class="inline w-8 h-8 mr-2 text-gray-200 mt-20 animate-spin dark:text-gray-600 fill-gray-600 dark:fill-gray-300" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
        </svg>
        <span class="sr-only">Loading...</span>
    </div>

    <div class="grid grid-cols-2 gap-4" id="pumps">
    </div>
</div>
<script>
    if (!localStorage.getItem('token')) {
        window.open('/login', '_self')
    } else {
        token = localStorage.getItem('token')
        setInterval(update, 1000)
    }

    function update() {
        fetch('/api/pumps?token=' + token)
            .then(res => res.json())
            .then(data => {
                pumps = document.getElementById('pumps')
                template = document.getElementById('temp');
                console.log(data)
                pumps.innerHTML = ''
                data.forEach(pump => {
                    clone = document.importNode(template.content, true);
                    level = 118 - (120 * (pump.level * 20) / 100)
                    clone.querySelector('.level').style.height = level + 'px'
                        // clone.querySelector('.wave').style.bottom = 146 - level + 'px'
                    clone.querySelector('.name').innerText = pump.name;
                    difference = parseInt(pump.now) - parseInt(pump.latest_modified)
                    if (difference > 60) {
                        clone.querySelector('.percentage').innerText = ' ! '
                        clone.querySelector('.percentage').classList.remove('border-4')
                        clone.querySelector('.percentage').classList.add('bg-red-500')

                    } else {
                        clone.querySelector('.percentage').innerText = pump.level

                    }
                    clone.querySelector('.parent').addEventListener('click', (event) => {
                        window.open('/pump/' + pump.id, '_self');
                        document.getElementById('spin').style.display = 'flex';
                    })
                    pumps.appendChild(clone)
                });
                document.getElementById('spin2').style.display = 'none'
            })
    }
</script>{% endblock %}